/**
 * Created by Ash on 2016-06-06.
 */


button,
.button {
	background: $color-primary;
	border: 0;
	color: $color-text-inverted;
  display: inline-block;
	height: $button-height;
	letter-spacing: 0.1rem;
	min-width: 5em;
	padding: 0 1em;
  text-align: center;
	@include transition;

	&:hover {
		background: darken($color-primary, 5%);
	}
}

.button-minor {
	border: 0.1rem solid $color-border;
	color: $color-text;

	&,
	&:hover {
		background: $color-bg;
	}
}
