/**
 * Created by Ash on 2016-06-07.
 */


input[type=text],
input[type=password],
input[type=number],
input[type=date],
select {
	background: $color-bg;
	border: 0.1rem solid $color-border;
	height: $control-height;
	line-height: $control-height;
	padding: 0 0.5em;
	width: $control-width;

  &:disabled {
    background: transparent;
    border: 0;
  }
}

input[type=checkbox] {
	margin-right: 0.25em;
	vertical-align: 0.1rem;
}

select {

  &:disabled {
    -webkit-appearance: textfield;
    appearance: textfield;
    color: inherit;
  }
}

form {
	line-height: $control-height;
	overflow: auto;

	dt,
	dd {
		float: left;
		margin-bottom: $gap;
	}

	dt {
		margin-left: $gap * 2;
		text-align: right;
		width: 8rem;
	}

	dd {
		margin-left: 0.5rem;
		margin-right: 0.5rem;

		&:nth-of-type(3n) + dt {
			clear: left;
		}
	}

	.form-submit {
		margin-left: 8rem + $gap * 2 + 0.5rem;
		clear: left;

		button,
		.button {
			margin-right: $gap * 2;
			vertical-align: top;
		}
	}
}

.check-box {
	margin-right: $gap * 2;
}
