/**
 * Created by Ash on 2016-06-06.
 */


th,
td {
	border-bottom: 0.1rem solid $color-border;
	padding: 0.8rem;
}

th {
	color: $color-text-dark;
	font-weight: 500;
}

tbody tr:nth-child(odd) {
	background: $color-bg-gray-lighter;
}

tbody tr:hover {
	background: lighten($color-primary, 43%);
	cursor: pointer;
}

.table-add {
	padding-top: $gap * 2;
	text-align: right;
}

.grid-edit {
	padding-top: 0;
	padding-bottom: 0;

	input[type=text],
	input[type=number],
	input[type=date],
	select {
		border: 0;
		height: $font-base * $line-height + 0.8rem * 2;
		width: 100%;
	}
}
