/**
 * Created by Ash on 2016-06-06.
 */


th,
td {
	border-bottom: 0.1rem solid $color-border;
	padding: 0.8rem;
}

th {
  background: $color-bg-gray-lightest;
	color: $color-text-dark;
	font-weight: 500;
}

tbody tr:nth-child(odd) {
	background: $color-bg-gray-lighter;
}

tbody tr:hover {
	background: lighten($color-primary, 43%);
	cursor: pointer;
}

.grid-holder {
  position: relative;
  height: 80vh;
}

.grid-header {
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.grid-content {
  overflow: auto;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

  &:not(:last-child) {
    bottom: $control-height + $gap * 2;
  }
}

.grid-footer {
  padding-top: $gap * 2;
  position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  text-align: right;
}

.grid-edit {
	padding: 0;

	input[type=text],
	input[type=number],
	input[type=date],
	select {
		border: 0;
		height: $font-base * $line-height + 0.8rem * 2;
		width: 100%;
	}
}
