/**
 * Created by Ash on 2016-06-06.
 */


:root {
	font-size: 10px;
}

body {
	background: $color-bg-gray-lighter;
	color: $color-text;
	font-family: $font-family;
	font-size: $font-base;
	line-height: $line-height;
	padding-bottom: $gap * 2;
}

main {
	padding: 0 (100% - $site-width) / 2;
}

h1,
h2 {
	color: $color-title-text;
	font-weight: 500;
	line-height: 1;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: $font-lg;
	margin-bottom: $gap * 3;
}

.page-header {
	overflow: hidden;
	padding: $gap * 2 0;

	h1 {
		float: left;
		line-height: $button-height;
	}

	button {
		float: right;
	}
}

.card {
	background: $color-bg-gray-lightest;
	border: 0.1rem solid $color-border;
	border-radius: 0.5rem;
	padding: $gap * 2;
}
